In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('marks.csv')

In [3]:
dataset

    name  college id  duration  marks  time before college  caff
0   abhi           1         2     40                   10   100
1   eric           1         4     50                   20   200
2   jack           1         2      5                    5   400
3   amit           1         2     50                   10    10
4  krish           1         4     60                   20   100

In [4]:
dataset.corr()

,college id,duration,marks,time before college,caff
college id,NaN,NaN,NaN,NaN,NaN
duration,NaN,1.000000,0.599145,0.952579,-0.073488
marks,NaN,0.599145,1.000000,0.803685,-0.842077
time before college,NaN,0.952579,0.803685,1.000000,-0.357518
caff,NaN,-0.073488,-0.842077,-0.357518,1.000000

In [6]:
dataset.columns

Index(['name', 'college id', 'duration', 'marks', 'time before college',
       'caff'],
      dtype='object')

In [48]:
X = dataset[ [ 'college id', 'duration', 'time before college' , 'caff' ] ]

In [49]:
X

   college id  duration  time before college  caff
0           1         2                   10   100
1           1         4                   20   200
2           1         2                    5   400
3           1         2                   10    10
4           1         4                   20   100

In [33]:
y  = dataset['marks']

In [34]:
y

0    40
1    50
2     5
3    50
4    60
Name: marks, dtype: int64

In [61]:

from sklearn.linear_model import LinearRegression

In [62]:
# create a model: for predict marks - y
model = LinearRegression()

In [67]:
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [64]:
model.predict(X)

array([40.27624309, 49.75138122,  5.        , 49.72375691, 60.24861878])

In [65]:
weight  = model.coef_

In [66]:
weight

array([ 0.        ,  6.20165746,  0.75690608, -0.10497238])

In [50]:
X

   college id  duration  time before college  caff
0           1         2                   10   100
1           1         4                   20   200
2           1         2                    5   400
3           1         2                   10    10
4           1         4                   20   100

In [51]:
from sklearn.linear_model import Lasso

In [52]:
from sklearn.feature_selection import SelectFromModel

In [57]:
# create a model: to feature selection
sel = SelectFromModel(Lasso(alpha=0.01))

In [58]:
sel.fit(X,y)

SelectFromModel(estimator=Lasso(alpha=0.01, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False),
        norm_order=1, prefit=False, threshold=None)

In [59]:
sel.get_support()

array([False,  True,  True,  True])

In [60]:
X

   college id  duration  time before college  caff
0           1         2                   10   100
1           1         4                   20   200
2           1         2                    5   400
3           1         2                   10    10
4           1         4                   20   100