In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('marks.csv')

In [3]:
dataset

    name  college id  duration  marks  time before college  caff  semester
0   abhi           1         2     40                   10   100         1
1   eric           1         4     50                   20   200         2
2   jack           1         2      5                    5   400         3
3   amit           1         2     50                   10    10         1
4  krish           1         4     60                   20   100         2

In [4]:
dataset.corr()

,college id,duration,marks,time before college,caff,semester
college id,NaN,NaN,NaN,NaN,NaN,NaN
duration,NaN,1.000000,0.599145,0.952579,-0.073488,0.218218
marks,NaN,0.599145,1.000000,0.803685,-0.842077,-0.616365
time before college,NaN,0.952579,0.803685,1.000000,-0.357518,-0.089087
caff,NaN,-0.073488,-0.842077,-0.357518,1.000000,0.906061
semester,NaN,0.218218,-0.616365,-0.089087,0.906061,1.000000

In [5]:
dataset.columns

Index(['name', 'college id', 'duration', 'marks', 'time before college',
       'caff', 'semester'],
      dtype='object')

In [6]:
X = dataset[ [ 'college id', 'duration', 'time before college' , 'caff' ] ]

In [7]:
X

   college id  duration  time before college  caff
0           1         2                   10   100
1           1         4                   20   200
2           1         2                    5   400
3           1         2                   10    10
4           1         4                   20   100

In [8]:
y  = dataset['marks']

In [9]:
y

0    40
1    50
2     5
3    50
4    60
Name: marks, dtype: int64

In [10]:

from sklearn.linear_model import LinearRegression

In [11]:
# create a model: for predict marks - y
model = LinearRegression()

In [12]:
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [13]:
model.predict(X)

array([40.27624309, 49.75138122,  5.        , 49.72375691, 60.24861878])

In [14]:
weight  = model.coef_

In [15]:
weight

array([ 0.        ,  6.20165746,  0.75690608, -0.10497238])

In [16]:
X

   college id  duration  time before college  caff
0           1         2                   10   100
1           1         4                   20   200
2           1         2                    5   400
3           1         2                   10    10
4           1         4                   20   100

In [17]:
from sklearn.linear_model import Lasso

In [18]:
from sklearn.feature_selection import SelectFromModel

In [28]:
# create a model: to feature selection
sel = SelectFromModel(Lasso(alpha=0.01))

In [29]:
sel.fit(X,y)

SelectFromModel(estimator=Lasso(alpha=0.01, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False),
        norm_order=1, prefit=False, threshold=None)

In [30]:
sel.get_support()

array([False,  True,  True,  True])

In [31]:
sel.estimator_.coef_

array([ 0.        ,  5.45884674,  0.88540955, -0.10330546])